@use '../variables' as *;
@use '../mixins' as *;

.todo-list {
  padding-top: 15px;
  width: 100%;
  max-width: 500px;

  li {
    @include flex-center;
    justify-content: space-between;
    background: #222;
    padding: 0.6rem 1rem;
    margin-bottom: 10px;
    border-radius: $border-radius;
    transition: $transition;

    .ant-checkbox-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
      color: #fff;
      cursor: pointer;
      font-size: 1rem;
      flex: 1;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: $hover !important;
      border-color: $hover !important;
    }

    .ant-checkbox-inner {
      background-color: transparent;
      border: 2px solid #555;
      transition: all 0.3s ease;
    }

    .ant-checkbox-wrapper:hover .ant-checkbox-inner {
      border-color: $hover !important;
    }

    .todo-title {
      cursor: pointer;
      color: #fff;
      transition: color 0.3s ease;
    }

    &.completed .todo-title {
      text-decoration: line-through;
      opacity: 0.5;
      color: #aaa;
    }

    Button {
      @include button-style(#444);
      padding: 0.3rem 0.6rem;
      margin-left: 12px;
    }
  }
}
